
body {
    font-family: sans-serif;
}

#nav_toggle {
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#nav_toggle:focus {
    outline: none;
}

#nav_list {
    display: none;
    position: absolute;
}

.main_nav ul {
    margin: 0;
    padding: 0;
}

.main_nav li {
    display: table-row;
    list-style-type: none;
}

.main_nav a {
    display: block;
    padding: 5px 10px;
    margin: 3px 0;
    color: #000;
    background-color: #ddd;
    text-decoration: none;
}

.main_nav a:hover {
    color: #fff;
    background-color: #444;
}

.table_employee {
    margin: 20px auto;
    border-collapse: collapse;
}

.table_employee tbody tr:nth-child(2n+1) {
    background-color: #DDDDDD;
}

.table_employee th {
    padding: 5px 10px;
    font-weight: bold;
}

.table_employee td {
    padding: 5px 10px;
}